*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #f0f0f0;
}
.nav{
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    /* height: 60px; */
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    padding: 0 25px 0 25px;
}
.nav ul{
    display: flex;
    /* width: 25%; */
    justify-content: space-between;
    align-items: center;
}
.nav ul li{
    list-style: none;
    /* padding: 0 10px 0 10px; */
}
.nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
    display: block;
    font-size: 1.8rem;
    padding: 1rem;
    transition: background 0.3s ease-out;
}
.nav ul li a:hover{
    background-color: #45567d;
}



.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.header h2{
    color: #f0f0f0;
    font-size: 4rem;
}
.header p{
    font-size: 1.9rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
}
.projects{
    background-color: #45567d;
    padding: 6.5rem 1.5rem;
    /* margin: 0 auto; */
}

.projects h2{
    max-width: 640px;
    margin: 0 auto 3.5rem auto;
    font-size: 3rem;
    border-bottom: 0.2rem solid #f0f0f0;
    text-align: center;
    color: #f0f0f0;
}


.flex-one{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.2rem;
    /* margin-bottom: 3rem; */
}

.flex-one a{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    /* margin-right: 3rem; */
    width: 30%;
    background-color: #303841;
}

.title{
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
}


.card{
    width: 100%;
    height: 400px;
    background-color: green;
}
input{
    padding: 20px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    border: 1px solid #303841;
    margin-top: 3rem;
    font-size: 1rem;
    background:#303841;
    transition: background 0.3s ease-out;
    text-transform: capitalize;
    font-weight: 700;
}
input:hover{
    background: #be3144;
    border: 1px solid #be3144;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background:#303841;
}

.contact h1{
    padding-top: 40px;
    font-size: 4rem;
    color: #f0f0f0;
}

.contact p{
    padding-top: 10px;
    font-style: italic;
    font-size: 1.5rem;
    color: #f0f0f0;
}

.contact .media{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact .media a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    padding: .5rem 1rem;
}
.contact .media a:hover{
    padding-top: 5px;
}




@media only screen and (max-width: 714px){
    .flex-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        /* width: 100%; */
        /* margin-right: 3rem; */
        /* width: 30%; */
    }
    .flex-one a{
        /* margin-right: 3rem; */
        margin-top: 2rem;
        width: 100%;
    }
    .projects h2{
        font-size: 2.9rem;
    }
    .header h2{
        font-size: 3.5rem;
    }
    .header p{
        font-size: 1.6rem;
    }
}


@media only screen and (max-width: 435px){
    .nav{
        justify-content: center;
    }

    .nav ul li a{
        padding: 1rem;
        font-size: 1.3rem;
    }

    .card{
        height: 300px;
    }

    .title{
        padding: 1rem 0 1rem 0;
        font-size: 1.5rem;
    }
    
    .projects h2{
        font-size: 2.2rem;
    }
    .header h2{
        font-size: 3.1rem;
    }
    .header p{
        font-size: 1.4rem;
    }
    .contact h1{
        font-size: 2.6rem;
    }
    
    .contact p{
        font-size: 1rem;
    }
    
    .contact .media a{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 390px){
    .header{
        height: 80vh;
    }


    .header h2{
        font-size: 2.8rem;
    }

    .card{
        height: 250px;
    }


    .contact .media{
        margin-top: 3rem;
    }

    /* .title{
        padding: 1rem 0 1rem 0;
        font-size: 1.5rem;
    } */
}